<%= render 'errors' %>
<div id='new_item_form_container'>
<span id='title-delete'>CREATE ITEM</span>
<%= form_for(@item, {id: 'new_item_form'}) do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  <%= f.label :desc %></br>
  <%= f.text_area :desc %></br>
  <%= f.label :value %></br>
  <%= f.number_field :value %></br>
  <%= f.submit id: :nu_item, data: { disable_with: false }%>
<% end %>
</div>

<span id='item_container'></span>

<script id="item_template" type="text/x-handlebars-template">
  <div><a class="index_item" data-id="{{id}}" href="/items/{{id}}"><strong>Item Name: {{name}}</strong></a>
     <a params="{ :id=> {{id}} }" class="sub_but" rel="nofollow" href="#/">like this item</a> / <a href="/items/{{id}}/edit">edit item</a>
  </div></br>
</script>