CREATE ITEM

</br><%= render 'errors' %>


<%= form_for(@item, {id: 'new_item_form'}) do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  <%= f.label :desc %></br>
  <%= f.text_area :desc %></br>
  <%= f.label :value %></br>
  <%= f.number_field :value %></br>
  <%= f.submit %>
<% end %>

<div id='item_container'></div>

<script id="item-template" type="text/x-handlebars-template">
  {{#each this}}
    <h1>{{name}}</h1></br>
    <h3>{{desc}}></h3></br>
    <p>{{value}}</p>></br>
    <hr>
  {{/each}}

</script>