<span>CREATE ITEM</span>
<%= render 'errors' %>
<div id='new_item_form_container'>
<%= form_for(@item, {id: 'new_item_form'}) do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  <%= f.label :desc %></br>
  <%= f.text_area :desc %></br>
  <%= f.label :value %></br>
  <%= f.number_field :value %></br>
  <%= f.submit id: :nu_item, data: { disable_with: false }%>
<% end %>
</div>

<span id='item_container'></span>

<script id="item_template" type="text/x-handlebars-template">
    <h1>Item Name: {{name}}</h1>
    <h3>Description: {{desc}}</h3>
    <p>Value: {{value}}</p>
    <%= link_to "{{name}}'s details page", "/items/{{id}}" %></br><br>
</script>